extend ../layout/admin

block content
	.container
		.row
			.col-md-8.col-md-offset-2
				each passage in passages
					h3
						a(href="/view?id=#{passage.id}")=passage.title
					hr
					.row
						.col-md-6.text-left
							p
								span 作者：
								span=passage.author
						.col-md-6.text-right
							p
								span 标签：
								span=passage.tags
					.row
						.col-md-12
							p.text-right
								span 发布时间：
								span=passage.modify_time
	.container
		.row
			.col-md-8.col-md-offset-2.text-right
				hr
				ul.pagination
					li
						a(href=pages.url+"?page=1")  &lt;&lt;
					li
						-if(pages.currentPage == 1)
							a(href=pages.url+"?page="+pages.currentPage)  &lt;
						-else
							a(href=pages.url+"?page="+(pages.currentPage-1))  &lt;
					each page in pages.allPages
						li
							a(href=pages.url+"?page="+page)=page
					li
						-if(pages.currentPage == pages.totalPages)
							a(href=pages.url+"?page="+pages.currentPage)  &gt;
						-else
							a(href=pages.url+"?page="+(pages.currentPage+1))  &gt;
					li
						a(href=pages.url+"?page="+pages.totalPages) &gt;&gt;
