extend ../layout/admin

block content
	.container
		.row
			.col-md-8.col-md-offset-2.text-right
				a(href="/admin/add") 发布文章
				span &nbsp;&nbsp;&nbsp;
				a(href="/") 返回首页
	.container
		.row.content
			.col-md-8.col-md-offset-2
				table.table.table-striped.table-list
					tr
						th 编号
						th 标题
						th 作者
						th 标签
						th 发布时间
						th 操作
					each passage in passages
						tr
							td=passage.id
							td=passage.title
							td=passage.author
							td=passage.tags
							td=passage.modify_time
							td
								a(target="_blank",href="/view?id="+passage.id) 预览&nbsp;
								a(target="_blank",href="/admin/edit?id="+passage.id) 修改&nbsp;
								a(href="/admin/del?id="+passage.id) 删除&nbsp;
						
	.container
		.row
			.col-md-8.col-md-offset-2.text-right
				hr
				ul.pagination
					li
						a(href=pages.url+"?page=1")  &lt;&lt;
					li
						-if(pages.currentPage == 1)
							a(href=pages.url+"?page="+pages.currentPage)  &lt;
						-else
							a(href=pages.url+"?page="+(pages.currentPage-1))  &lt;
					each page in pages.allPages
						li
							a(href=pages.url+"?page="+page)=page
					li
						-if(pages.currentPage == pages.totalPages)
							a(href=pages.url+"?page="+pages.currentPage)  &gt;
						-else
							a(href=pages.url+"?page="+(pages.currentPage+1))  &gt;
					li
						a(href=pages.url+"?page="+pages.totalPages) &gt;&gt;
